@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --light-blue: #f0f8fc;
    --blue: #87cbe2;
    --mustard: #bdbc89;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(240,248,252);
    background: linear-gradient(90deg, rgba(240,248,252,1) 0%, rgba(135,203,226,1) 100%);
}